<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Perez Prado Training</title>
    <%- include("partials/head") %>
  </head>
  <body>
    <!-- HEADER -->
    <%- include("partials/navigation") %>

    <!-- MAIN CONTENT -->
<!--
    <div class="container mb-5 mt-5">
      <header class="row">
        <div class="col-lg-12  text-center">
          <img
            src="/img/fotoBarra.jpeg"
            class="w-auto  animated bounceIn"
            alt="Website Logo"
          />
        </div>
      </header>
    </div> -->

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/img/fotoBarra.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/img/images.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/img/imagesII.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

<div class="container customCard text-center">

  <div class="row ">

  <div class="box col-sm-6">

    <h1>¿Qué vamos hacer juntos?</h1>

    <p1>
      Mis planes están destinados a facilitarte el camino hacia un cuerpo atlético 
      y equilibrado (en volumen y definición) de una manera rápida y eficiente.
    </p1>
<br>
    <p2>
      
      El método de asesoría online no está indicado para menores de edad, personas con patologías preexistentes 
      (obesidad, diabetes, hipertensión, problemas cardíacos, respiratorios o neuronales) 
      o lesiones. Se les recomienda un a atención presencial y controlada para mayor seguridad.
    </p2>


  </div>
  <div class="boxI col-sm-6">
    <img src="/img/pews-logo.png" alt="">
    
  </div>
</div>
</div>


    <!-- section one -->
    <div class="container-fluid" id="about">
      <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">
          <i class="fab fa-whatsapp fa-5x"></i>
        </div>
        <div class="col-sm-6">
          <h3>¿Organizamos tu clase de prueba?</h3>
          <p>
            <h4>
              +54 9 11 3427-3787
            </h4>
          </p>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <%- include("partials/footer") %>

    <!-- JAVASCRIPT CDNS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous">
    </script>
  </body>
</html>
